# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/




# =============================================================
#
# Asset Packages
#
# /////////////////////////////////////////////////////////////
Assets/Polytope Studio/Lowpoly_Demos
Assets/Polytope Studio/Lowpoly_Environments/SRP
Assets/Polytope Studio/Lowpoly_Environments/Sources/Meshes
Assets/Polytope Studio/Lowpoly_Environments/Sources/Shaders
Assets/Polytope Studio/Lowpoly_Environments/Sources/Textures
Assets/Polytope Studio/Lowpoly_Village/Sources

Assets/Procedural Worlds/Content Packs/Raygeas/Stylized Fantasy Village/Content Resources/Materials
Assets/Procedural Worlds/Content Packs/Raygeas/Stylized Fantasy Village/Documentation
Assets/Procedural Worlds/Content Packs/Raygeas/Stylized Fantasy Village/Gaia Biomes
Assets/Procedural Worlds/Content Packs/Raygeas/Stylized Fantasy Village/GeNa Masks
Assets/Procedural Worlds/Content Packs/Raygeas/Stylized Fantasy Village/GeNa Spawners
Assets/Procedural Worlds/Content Packs/Raygeas/Stylized Fantasy Village/HDRP

Assets/Suntail Village/Animations
Assets/Suntail Village/Audio
Assets/Suntail Village/Demo
Assets/Suntail Village/Documentation
Assets/Suntail Village/Materials/Background Terrains
Assets/Suntail Village/Materials/Building Modules
Assets/Suntail Village/Materials/Environment
Assets/Suntail Village/Materials/FX
Assets/Suntail Village/Materials/Props
Assets/Suntail Village/Models
Assets/Suntail Village/Scripts
Assets/Suntail Village/Shaders
Assets/Suntail Village/Terrain Layers
Assets/Suntail Village/Textures
Assets/Suntail Village/URP Shaders

Assets/TutorialInfo/Icons
Assets/TutorialInfo/Scripts




# =============================================================
#
# High Level Paths
#
# /////////////////////////////////////////////////////////////
Assets/Procedural Worlds/Flora/
Assets/Procedural Worlds/Frameworks/
Assets/Procedural Worlds/GeNa




# =============================================================
#
# Risky Ignores
#
# /////////////////////////////////////////////////////////////
# The file below is newly updated, not sure if I updated it or the system did
# its the only file in all of "Gaia" that warrents being tracked so lets see
# if it's not needed - check on it's impact, for now ignore the file and Gaia
#
# Assets/Procedural Worlds/Gaia/Lighting/Content Resources/Universal Pipeline/UPRenderPipelineAsset PWS UP 8.2.0.asset#
Assets/Procedural Worlds/Gaia/



# =============================================================
#
# Manual Ignores
#
# /////////////////////////////////////////////////////////////
Assets/Gaia User Data/Sessions/*/Session Operations*
Assets/Gaia User Data/Screenshots*

#/Session*Operations/
#Assets/Gaia User Data/Sessions/GS-20231012 - 141953/Session Operations/20231012-184756 Spawning - Alpine Meadow-Textures(Clone).asset.meta
#Assets/Gaia User Data/


# =============================================================
#
# DS_Store
#
# /////////////////////////////////////////////////////////////
.DS_Store
\.DS_Store
Assets/\.DS_Store
Assets/.DS_Store
*DS_Store
*/*DS_Store
*/\.DS_Store



# =============================================================
#
# Original/Default Ignores
#
# /////////////////////////////////////////////////////////////
# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
